/* Full-width Navbar Stil */

.navbar {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Hafif bir gölge */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-link {
    color: #f8f9fa;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6347;
    /* Link üzerine gelindiğinde turuncu renk */
}

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 56px;
    /* Navbar'ın üzerindeki içerikle çakışmaması için üstten padding ekliyoruz */
}