/* Hamburger Menü Butonu Stil */

.menu-icon {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon span {
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 2px;
}


/* Fullscreen Overlay Navbar Stil */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
}

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 56px;
    /* Menü ile içeriğin çakışmaması için üstten padding ekliyoruz */
}