/* Navbar Stil */

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Hafif bir gölge */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #ddd;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #fff;
}


/* Dropdown Stil */

.dropdown-menu {
    background-color: #343a40;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #ddd;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
    color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}