/* Navbar Stil */

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Hafif bir gölge */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #333;
    position: relative;
    padding-bottom: 8px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
    /* Link üzerine gelindiğinde mavi renk */
}


/* Altı Çizgili Animasyon */

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #007bff;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background-color: #007bff;
}

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 56px;
    /* Navbar'ın üzerindeki içerikle çakışmaması için üstten padding ekliyoruz */
}