/* Dinamik İkon ve Metin Geçişli Navbar Stil */

.navbar {
    padding: 15px;
}

.navbar-brand {
    font-family: 'Georgia', serif;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #ffffff;
    margin-left: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link .nav-text {
    margin-left: 8px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover .nav-text {
    opacity: 1;
    transform: translateX(0);
}

.navbar-nav .nav-link:hover i {
    transform: translateX(-10px);
}

.navbar-nav .nav-link i {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 100px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}