body {
    background-color: black;
}


/* Video Arka Plan */

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Şeffaf Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* Yarı saydam arka plan */
    padding: 15px;
}

.navbar .navbar-brand {
    font-family: 'Georgia', serif;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #fff;
    margin-left: 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffd700;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
}

.content p {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}